<h1>Round <%= @round.round_number %> for Game <%= @game.id %></h1>

<% if @question %>
  <p>Question: <%= @question.content %></p>

  <%#= form_with url: submit_answer_question_path(@question, game_id: @game.id, round_id: @round.id), method: :post do %>
  <%= form_with url: submit_answer_question_path(@question) do %>
    <ul>
      <% @question.answers.each do |answer| %>
        <li>
          <%= radio_button_tag 'answer_id', answer.id %>
          <%= label_tag "answer_id_#{answer.id}", answer.content %>
        </li>
      <% end %>
    </ul>
    <%= submit_tag "Submit" %>
  <% end %>

<% else %>
  <p>No questions available for this round yet.</p>
<% end %>
