<h1 class="text-center title">Round <%= @round.round_number %></h1>

<div class="form-container question-card">
  <% if @question %>
    <p class="question-content"><%= @question.content %></p>

    <%= form_with url: submit_answer_question_path(@question) do %>
      <div class="answer-buttons">
        <% @question.answers.each do |answer| %>
          <% id = "answer_#{answer.id}" %>
          <%= radio_button_tag 'answer_id', answer.id, id: id, class: 'hidden-radio' %>
          <label for="<%= id %>" class="selectable-btn">
            <%= answer.content %>
          </label>
        <% end %>
      </div>
      <div class="text-center">
        <%= submit_tag "Submit", class: 'submit-btn' %>
      </div>
    <% end %>
  <% else %>
    <p class="no-question">No question available.</p>
  <% end %>
</div>
