<div class="navbar">
  <% if current_user %>
    <%= link_to games_path, class:"navbar-icon" do %>
      <i class="fas fa-gamepad"></i>
    <% end %>
    <%= link_to new_game_path, class: "navbar-icon" do %>
      <%= image_tag 'punching' %>
    <% end %>
    <%= link_to boxers_path, class:"navbar-icon" do %>
      <i class="fa-solid fa-user-group"></i>
    <% end %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
</div>
