<div class="game-list">
  <% @games.each do |game| %>
    <%if game.game_players.first.score == 0 && game.game_players.second.score == 0%>
      <div class="game-card">
        <div class="game-info">
          <div class="player">
              <span class="player-email"><%= game.game_players.first.user.nickname %></span>
              <span class="player-score"><%= game.game_players.first.score %></span>
            </div>
            <span class="vs"><button type="button" class="btn btn-primary">Play Now</button></span>
            <div class="player">
              <span class="player-score"><%= game.game_players.second.score %></span>
              <span class="player-email"><%= game.game_players.second.user.nickname %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <% @games.each do |game| %>
    <%if game.game_players.first.score > 0 || game.game_players.second.score > 0%>
      <div class="game-card">
        <div class="game-info">
          <div class="player">
              <span ="player-score"><%= game.game_players.first.score %></span>
              <span class="player-email"><%= game.game_players.first.user.nickname %></span>
            </div>
            <span class="vs">VS</span>
            <div class="player">
              <span class="player-email"><%= game.game_players.second.user.nickname %></span>
              <span "player-score"><%= game.game_players.second.score %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="navbar">
    <a href="#games" class="navbar-icon">
        <i class="fas fa-gamepad"></i> Games
    </a>
    <a href="#messages" class="navbar-icon">
        <i class="fa-solid fa-message"></i> Messages
    <%= link_to new_game_path, class: "navbar-icon" do %>
        <i class="fa-solid fa-play"></i> Play
    </a>
    <% end %>
</div>
