<div class="game-list">
<h2>You haven't thrown a punch</h2>
  <% @games.each do |game| %>
    <% if game.game_players.first.score == 0 && game.game_players.second.score == 0 %>
      <div class="game-card boxing-card">
        <div class="game-info">
          <div class="player">
            <span class="player-email"><%= game.game_players.first.user.nickname %></span>
            <span class="player-score"><%= game.game_players.first.score %></span>
          </div>


          <span class="vs">
            <%= link_to 'Play Now', game_round_path(game, game.rounds.first), class: 'btn boxing-btn', role: 'button' %>
          </span>

          <div class="player">
            <span class="player-score"><%= game.game_players.second.score %></span>
            <span class="player-email"><%= game.game_players.second.user.nickname %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <hr>

  <h2>Match over</h2>

  <% @games.each do |game| %>
    <% if game.game_players.first.score > 0 || game.game_players.second.score > 0 %>
      <div class="game-card boxing-card">
        <div class="game-info">
          <div class="player">
            <span class="player-score <%= "winner" if game.game_players.first.score > game.game_players.second.score%>"><%= game.game_players.first.score %></span>
            <span class="player-email"><%= game.game_players.first.user.nickname %></span>
          </div>
          <span class="vs"><%= image_tag "boxing-gloves" %></span>
          <div class="player">
            <span class="player-email"><%= game.game_players.second.user.nickname %></span>
            <span class="player-score <%= "winner" if game.game_players.first.score < game.game_players.second.score%>"><%= game.game_players.second.score %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="navbar">
  <a href="#games" class="navbar-icon">
    <i class="fas fa-gamepad"></i>
  </a>
  <%= link_to new_game_path, class: "navbar-icon" do %>
    <span class="vs"><%= image_tag "punching" %></span>
  <% end %>
  <a href="#messages" class="navbar-icon">
    <i class="fa-solid fa-message"></i>
  </a>
</div>
